/* ms response for covid-19 */

.mybtn4 {
    cursor: pointer;
    font-weight: 600;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    border-radius: 0px;
    background-color: rgb(203 213 225);	
    border:0px solid rgb(203 213 225);
    display: flex;
    align-items: center;
    font-size: 15px;
    margin:0 auto;
} 

 
.mybtn4:hover {
    background: rgb(203 213 225);
    color:rgb(3, 3, 3);
    text-decoration: underline;
   }
   
   .mybtn4 > svg {
    width: 34px;
    margin-left: 0px;
    transition: transform .3s ease-in-out;
    color:white;
   }
   
   .mybtn4:hover svg {
    transform: translateX(7px);
    color:white;
   }